<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pookie Soundboard</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Pookie Soundboard</h1>
    <div class="board">
        <button onclick="playSound()">
            Push
        </button>
    </div>
</body>

<script>
    function playSound() {
        let url = "{{ url_for('static', filename='audio/carAlarm.mp3') }}";
        let audio = new Audio(url);
        audio.play();
    }
</script>

</html>