<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pookie Soundboard</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Pookie Soundboard</h1>
    <div class="board">
        {% for file in audio_files %}
        <div class="tile">
            <div class="tile-title">{{ file.split('.')[0] }}</div>
            <button
                onclick="playSound('{{ url_for('static', filename='audio/' + file) }}')">
                Play
            </button>
        </div>
        {% endfor %}
    </div>
    <script>
        const audio = new Audio();
        function playSound(file) {
            audio.src = file;
            audio.play();
        }
    </script>
</body>

</html>